header {
  background-color:  rgba(265, 265, 265, 0.375);
  text-align: center;
  justify-content: center;
  color: rgb(16, 35, 204);
  padding: 12px;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 3px;
  font-family:impact;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(Image/weather.jpg);

  background-position: top center;
  color: rgb(12, 235, 106) ;

}
#main {
  display: grid;
  margin-top: 12px;
  margin-left: 0px;
}
.col-md-4 {
  margin-top: 22px;
}

.col-12col-md-8 {
  color: rgb(39, 213, 100);
  height: 300px;
}
h1 {
  justify-content: center;
  text-align: center;
}
.specs {
  margin-top: 20px;
  display:table-row;
  text-align: center;
  background-color: rgba(208, 192, 51, 0.3);
  width: 300px;
  border-style:none;
}
.cities {
  display: flexbox;
  margin: 5px;
  border-style:dotted;
  background-color: rgba(265, 265, 265, 0.375);
  
}
.card {
  background-color: rgba(265, 265, 265, 0.375);
  width: 20%;
  height: auto;
  float: right;
  margin: 10px;
  color: black;
  font-size: 18px;
  padding: 20px;
}
h5 {
  position: static;
}